@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@IsDarkMode" Theme="Theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
	<main>
		<MudAppBar Color="Color.Transparent" Fixed="false" Dense="true">
			<MudSpacer />
			<MudToggleIconButton @bind-Toggled="@IsDarkMode"
								 Icon="@Icons.Material.Filled.DarkMode" ToggledIcon="@Icons.Material.Filled.LightMode" />
			<MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit"
						   Target="_blank" Link="https://github.com/fkomo/Billingares" />
		</MudAppBar>

		<article class="content px-4">
			@Body
		</article>

		<Billingares.Blazor.Components.VersionComponent />
		<Billingares.Blazor.Components.NotificationsComponent />
	</main>
</div>

@code {

	private MudTheme Theme = new();
	public bool IsDarkMode = true;
}