@using Billingares.Blazor.Components

@inject IStringLocalizer<Resource> localizer
@inject NavigationManager NavManager

@inherits LayoutComponentBase

<PageTitle>@localizer["ApplicationTitle"]</PageTitle>

<MudThemeProvider @bind-IsDarkMode="@IsDarkMode" Theme="Theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
	<main>
@*		<MudAppBar style="background-color:#27272f;" Fixed="false" Dense="false">
*@		<MudAppBar Fixed="false" Dense="false">

			<HomeComponent />
			
			<MudSpacer />

			<CultureSelectorComponent />

			@if (NavManager.BaseUri.Contains("localhost"))
			{
				<MudIconButton Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Inherit"
							   Target="_self" Link="/admin" />
			}

			<MudToggleIconButton @bind-Toggled="@IsDarkMode"
								 Icon="@Icons.Material.Filled.DarkMode" ToggledIcon="@Icons.Material.Filled.LightMode" />

			<MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit"
						   Target="_blank" Link="https://github.com/fkomo/Billingares" />
		</MudAppBar>

		<article class="content px-4">
			@Body
		</article>

		<Billingares.Blazor.Components.VersionComponent />
		<Billingares.Blazor.Components.NotificationsComponent />
	</main>
</div>

@code {

	private MudTheme Theme = new();
	public bool IsDarkMode = true;
}