@using Billingares.Blazor
@using Billingares.Blazor.Components

@inherits LayoutComponentBase

@inject IStringLocalizer<Resource> localizer
@inject IBillingaresApplicationState AppState


<PageTitle>@localizer["ApplicationTitle"]</PageTitle>

<MudThemeProvider @bind-IsDarkMode="@AppState.DarkMode" Theme="Theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
	<main>
		<MudAppBar Fixed="false" Dense="false">

			<Ujeby.Blazor.Base.Components.HomeComponent />

			<MudSpacer />

			<CultureSelectorComponent />

			<MudToggleIconButton @bind-Toggled="@AppState.DarkMode"
								 Icon="@Icons.Material.Filled.DarkMode" ToggledIcon="@Icons.Material.Filled.LightMode" />

			<MudToggleIconButton @bind-Toggled="@AppState.FancyMode"
								 Icon="@Icons.Material.Filled.AutoFixHigh" ToggledIcon="@Icons.Material.Filled.AutoFixOff" />

			<MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit"
						   Target="_blank" Link="https://github.com/fkomo/Billingares" />
		</MudAppBar>

		<MudMainContent>
			<MudContainer MaxWidth="MaxWidth.Large" Class="my-16 pt-16">
				@Body
			</MudContainer>
		</MudMainContent>

		<Billingares.Blazor.Components.VersionComponent />

		<Billingares.Blazor.Components.NotificationsComponent />
	</main>
</div>

@code {
	private MudTheme Theme = new();
}