@using Billingares.App.ViewModels
@using Billingares.Base
@using Ujeby.Blazor.Base.Components

@inherits ComponentBase<TransactionsViewModel, ApplicationState>;

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
	<MudTabPanel Text="Table" Icon="@Icons.Material.Filled.TableView">
		<MudTable Items="@ViewModel.Transactions" Loading="@IsBusy"
				  Hover="true" Dense="true" ReadOnly="true" FixedHeader="false" Striped="true">
			<ToolBarContent>
				<MudText Typo="Typo.h6">Transactions (@ViewModel.Transactions.Length)</MudText>
			</ToolBarContent>
			<HeaderContent>
				<MudTh>@nameof(Transaction.From)</MudTh>
				<MudTh>@nameof(Transaction.To)</MudTh>
				<MudTh Style="text-align:right;">@nameof(Transaction.Amount)</MudTh>
			</HeaderContent>
			<RowTemplate>
				<MudTd DataLabel="@nameof(context.From)">@context.From</MudTd>
				<MudTd DataLabel="@nameof(context.To)">@context.To</MudTd>
				<MudTd DataLabel="@nameof(context.Amount)" Style="text-align:right;">@Transaction.FormatCurrency(context.Amount)</MudTd>
			</RowTemplate>
		</MudTable>
	</MudTabPanel>
	<MudTabPanel Text="Matrix" Icon="@Icons.Material.Filled.Apps">
		@if (ViewModel.Users.Any())
		{
			<MudSimpleTable Dense="true" Hover="false" Bordered="true" Striped="true" Style="overflow-x: auto;">
				<tbody>
					<tr>
						<td style="background-color:var(--mud-palette-primary-lighten)">&nbsp;</td>
						@foreach (var user in ViewModel.Users)
						{
							<td><strong>@user</strong></td>
						}
					</tr>
					@foreach (var user in ViewModel.Users)
					{
						<tr>
							<td><strong>@user</strong></td>
							@foreach (var amount in ViewModel.MatrixRow(user))
							{
								if (amount == decimal.MinValue)
								{
									<td style="background-color:var(--mud-palette-primary-lighten)"></td>
								}
								else
								{
									<td style="text-align:right;">@(amount.HasValue ? Transaction.FormatCurrency(amount.Value) : "")</td>
								}
							}
						</tr>
					}
				</tbody>
			</MudSimpleTable>
		}
	</MudTabPanel>
	<MudTabPanel Text="Balance" Icon="@Icons.Material.Filled.AccountBalance">
		<MudSimpleTable Dense="true" Hover="true" Bordered="false" Striped="true" Style="overflow-x: auto;">
			<thead>
				<tr>
					<th>@nameof(Balance.Name)</th>
					<th style="text-align:right;">Balance</th>
					<th style="text-align:right;">In</th>
					<th style="text-align:right;">Out</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var balance in ViewModel.Balance())
				{
@*					<tr style="@(balance.Amount > 0 ? ("background-color:#DCEDC8") : ("background-color:#FFCDD2"))">
*@					<tr>
						<td>@balance.Name</td>
						<td style="text-align:right;">@Transaction.FormatCurrency(balance.Amount)</td>
						<td style="text-align:right;">@Transaction.FormatCurrency(balance.AmountIn)</td>
						<td style="text-align:right;">@Transaction.FormatCurrency(balance.AmountOut)</td>
					</tr>
				}
			</tbody>
		</MudSimpleTable>
	</MudTabPanel>
</MudTabs> 