@using System.Net.Http.Json
@using Billingares.Blazor.ViewModels
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms
@using Ujeby.Blazor.Base.Components
@using Microsoft.Extensions.Localization
@using Billingares.Blazor.Shared

@inject IStringLocalizer<Resource> localizer

@inherits ComponentBase<ClaimsViewModel, ApplicationState, ApplicationSettings>;

<MudGrid>
	<MudItem xs="12">
		<EditForm Model="@ViewModel.ToAdd" OnValidSubmit="OnItemSubmitAsync">
			<DataAnnotationsValidator />
			<MudCardContent>
				<MudTextField @bind-Value="ViewModel.ToAdd.Creditor"
							  For="@(() => ViewModel.ToAdd.Creditor)"
							  Label="@localizer["Creditor"]" />
				<MudTextField @bind-Value="ViewModel.ToAdd.Amount"
							  For="@(() => ViewModel.ToAdd.Amount)"
							  Label="@localizer["AmountWithCurrency"]"
							  InputType="InputType.Number"
							  Style="text-align:right;" />
				<MudTextField @bind-Value="ViewModel.ToAdd.DebtorList"
							  For="@(() => ViewModel.ToAdd.DebtorList)"
							  Label="@localizer["Debtors"]"
							  HelperText="@localizer["MultipleNamesSeparatedInfo"]" />
				<MudTextField @bind-Value="ViewModel.ToAdd.Description"
							  For="@(() => ViewModel.ToAdd.Description)"
							  Label="@localizer["Description"]" />
			</MudCardContent>
			<MudCardActions>
				<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto"
						   Icon="@Icons.Material.Filled.Add">@localizer["Add"]</MudButton>
			</MudCardActions>
		</EditForm>
	</MudItem>

	@if (ViewModel.Claims.Any())
	{
		<MudItem xs="12">
			<MudTable Items="@ViewModel.Claims" Loading="@IsBusy" Striped="true" MultiSelection="true" LoadingProgressColor="Color.Primary"
				  Dense="true" Hover="true" ReadOnly="false" CanCancelEdit="true" Filter="new Func<Claim, bool>(ViewModel.FilterFunc)"
				  RowEditCommit="OnItemEditCommitAsync" IsEditRowSwitchingBlocked="false"
				  SortLabel="Sort By" CommitEditTooltip="Commit Edit"
				  RowEditPreview="OnItemEditPreview" RowEditCancel="OnItemEditCancel"
				  @bind-SelectedItem="ViewModel.Selected" @bind-SelectedItems="ViewModel.SelectedItems">
				<ToolBarContent>
					@*
						<MudText Typo="Typo.h6">@localizer["Claims"] (@ViewModel.Claims.Count)</MudText>
					*@
					<MudSpacer />
					<MudTextField @bind-Value="@ViewModel.SearchString" Placeholder="@localizer["Search"]" Adornment="Adornment.Start"
							  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small" Class="mt-0" />
				</ToolBarContent>
				<HeaderContent>
					<MudTh>
						<MudTableSortLabel SortBy="new Func<Claim, object>(x=>x.Creditor)">@localizer["CreditorTitle"]</MudTableSortLabel>
					</MudTh>
					<MudTh Style="text-align:right;">
						<MudTableSortLabel SortBy="new Func<Claim, object>(x=>x.Amount)">@localizer["AmountTitle"]</MudTableSortLabel>
					</MudTh>
					<MudTh>
						<MudTableSortLabel SortBy="new Func<Claim, object>(x=>x.DebtorList)">@localizer["DebtorsTitle"]</MudTableSortLabel>
					</MudTh>
					<MudTh>
						<MudTableSortLabel SortBy="new Func<Claim, object>(x=>x.Description)">@localizer["Description"]</MudTableSortLabel>
					</MudTh>
				</HeaderContent>

				<RowTemplate>
					@if (IsIgnored(context))
					{
						<MudTd DataLabel="@localizer["Creditor"]">
							<PersonComponent Name="@context.Creditor" Disabled="true" />
						</MudTd>
						<MudTd DataLabel="@localizer["Amount"]" Style="text-align:right;">
							<del>@Transaction.FormatCurrency(context.Amount.Value)</del>
						</MudTd>
						<MudTd>
							@foreach (var debtor in @context.Debtors)
							{
								<PersonComponent Name="@debtor" Disabled="true" />
							}
						</MudTd>
						<MudTd DataLabel="@localizer["Description"]"><del>@context.Description</del></MudTd>
					}
					else
					{
						<MudTd DataLabel="@localizer["Creditor"]">
							<PersonComponent Name="@context.Creditor" Disabled="false" />
						</MudTd>
						<MudTd DataLabel="@localizer["Amount"]" Style="text-align:right;">
							@Transaction.FormatCurrency(context.Amount.Value)
						</MudTd>
						<MudTd>
							@foreach (var debtor in @context.Debtors)
							{
								<PersonComponent Name="@debtor" Disabled="false" />
							}
						</MudTd>
						<MudTd DataLabel="@localizer["Description"]">@context.Description</MudTd>
					}
				</RowTemplate>

				<RowEditingTemplate>
					<MudTd DataLabel="@localizer["Creditor"]">
						<MudTextField @bind-Value="@context.Creditor" Required />
					</MudTd>
					<MudTd DataLabel="@localizer["Amount"]" Style="text-align:right;">
						<MudNumericField @bind-Value="@context.Amount" Min="1" Required />
					</MudTd>
					<MudTd DataLabel="@localizer["Debtors"]">
						<MudTextField @bind-Value="@context.DebtorList" Required />
					</MudTd>
					<MudTd DataLabel="@localizer["Description"]">
						<MudTextField @bind-Value="@context.Description" />
					</MudTd>
				</RowEditingTemplate>
			</MudTable>
		</MudItem>

		<MudItem xs="12">
			<div class="d-flex flex-wrap mt-4">
				<MudSwitch @bind-Checked="@ViewModel.Optimize" Label="@localizer["Optimize"]" Color="Color.Primary" />
				<MudSpacer />
				@if (ViewModel.SelectedItems.Any())
				{
					<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.CommentsDisabled" Color="Color.Warning" 
						Style="margin-right:16px;" OnClick="ToggleIgnoreSelectedItemsAsync">@localizer["Ignore"]</MudButton>
					<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" 
						Style="margin-right:16px;" OnClick="RemoveSelectedItemsAsync">@localizer["Delete"]</MudButton>
				}
				<ShareComponent />
			</div>
		</MudItem>
	}
</MudGrid>